[project]
	description = Repo to test gerrit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Namitius
[access "refs/for/refs/*"]
	read = group user/Namitius
	push = group user/Namitius
	label-Code-Review = -2..+2 group user/Namitius
	label-Verified = -1..+1 group user/Namitius
	rebase = group user/Namitius
	removeReviewer = group user/Namitius
	submit = group user/Namitius
[access "refs/heads/*"]
	read = group user/Namitius
	create = group user/Namitius
	push = +force group user/Namitius
	pushMerge = group user/Namitius
[access "refs/tags/*"]
	push = group user/Namitius
	push = +force group user/Namitius
